<%= render "/shared/navbar" %>

<div class="container">
  <%= render "/shared/errors" %>
</div>

<div class="login-background">
  <div class="container">
    <div class="jumbotron logintron">
      <div class="jumbotron-container">

        <h2 class="text-center" style="color: white">Log In</h2>


        <form class="col-md-12" action="<%= session_url %>" method="post">

          <%= auth_token %>

          <div class="form-group">
            <span class="login-icon fa fa-user"></span>
            <input type="text"
                   name="user[username]"
                   value="<%= @user.username %>"
                   class="form-control login-field"
                   id="users-username"
                   placeholder="Username">
          </div>

          <div class="form-group">
            <span class="login-icon fa fa-key"></span>
            <input type="password"
                   name="user[password]"
                   id="users-password"
                   class="form-control login-field"
                   placeholder="Password">
          </div>

          <div class="col-md-6 text-left">
            <input class="btn btn-primary login-btn enter"
                   type="submit"
                   value="Log In">
          </div>

          <div class="col-md-6 text-right">
            <button class="btn btn-default guest login-btn">
              Proceed as guest
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".guest").on('click', function(event) {
    event.preventDefault();
    $("#users-username").val("guest");
    $("#users-password").val("123123");
    $(".enter").trigger("click");
  });
</script>
