<div class="panel panel-default profile-page">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 sidebar">
        <a class="image-link">
          <!-- here goes the image -->
        </a>
        <div class="table-responsive">
          <table class='table'>
            <br>
            <tr>
              <td>
                <span class="fa fa-user">
                  <strong>Username: </strong>
                </span>
              </td>
              <td> <%= user.escape("username") %> </td>
            </tr>
            <tr>
              <td>
                <span class="fa fa-location-arrow">
                  <strong>Location: </strong>
                </span>
              </td>
              <td><%= user.escape("location") %></td>
            </tr>
            <tr>
              <td>
                <span class="fa fa-newspaper-o">
                  <strong>Total Reviews: </strong>
                </span>
              </td>
              <td><%= user.escape('reviews') %></td>
            </tr>
            <tr>
              <td>
                <span class="fa fa-trophy">
                  <strong>Karma Points: </strong>
                </span>
              </td>
              <td><%= user.get('karma') %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-md-8">
        <h2 class='text-center'>
          <%= user.escape('username').toUpperCase() + "'S"%> PROFILE
        </h2>
        <div class="description">
          <p>
            <h3>About Me:</h3>
          </p>
          <p>
            <%= user.escape("bio") %>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
