<div class="panel panel-default review-item">
  <div class="panel-body">
    <div class="col-md-1 voting">
      <p>
        <button class="btn btn-default upvote">
          <span class='glyphicon glyphicon-chevron-up'></span>
        </button>
      </p>
      <p class="num-votes">
        <%= review.escape('num_votes') %>
      </p>
      <p>
        <button class="btn btn-default downvote">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </p>
    </div>
    <div class="col-md-3">
      <div class="table-responsive">
        <table class='table'>
          <tr>
            <td><strong>Username: </strong></td>
            <td>
              <a href="/#/users/<%= review.escape('author_id') %>"
                 class="user-link">
                <%= review.author().escape("username") %>
              </a>
            </td>
          </tr>
          <tr>
            <td><strong>Posted: </strong></td>
            <td> <%= review.escape('create_time') %> </td>
          </tr>
          <tr>
            <td><strong>Total Posts: </strong></td>
            <td><%= review.author().escape('review_count') %></td>
          </tr>
          <tr>
            <% if (review.author().id === id) { %>
              <td>
                <button class="edit-review btn btn-default"> Edit </button>
              </td>
              <td>
                <button class="delete-review btn btn-danger"> Delete </button>
              </td>
            <% } %>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <div class="star-rating" data-score="<%= review.get('rating') %>" ></div>
      <div class="review-body">
        <%= review.escape('body') %>
      </div>
    </div>
  </div>
</div>
