<div class="panel panel-default review-item">
  <div class="panel-body">

    <div class="col-md-4">
      <div class="table-responsive">
        <table class='table'>
          <tr>
            <td><strong>Username: </strong></td>
            <td> <%= review.author().escape("username") %> </td>
          </tr>
          <tr>
            <td><strong>Posted: </strong></td>
            <td> <%= review.escape('created_at') %> </td>
          </tr>
          <tr>
            <td><strong>Total Posts: </strong></td>
            <td><%= review.author().escape('review_count') %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <div class="review-body">
        <%= review.escape('body') %>
      </div>
    </div>
  </div>
</div>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
  }
});
</script>
