<div class="panel panel-default review-item">
  <div class="panel-body">

    <div class="col-md-4">
      <div class="table-responsive">
        <table class='table'>
          <tr>
            <td><strong>Username: </strong></td>
            <td> <%= review.author().escape("username") %> </td>
          </tr>
          <tr>
            <td><strong>Posted: </strong></td>
            <td> <%= review.escape('created_at') %> </td>
          </tr>
          <tr>
            <td><strong>Total Posts: </strong></td>
            <td><%= review.author().escape('review_count') %></td>
          </tr>
          <tr>
            <% if (review.author().id === id) { %>
              <td>
                <button class="edit-review"> Edit </button>
              </td>
              <td>
                <button class="delete-review"> Delete </button>
              </td>
            <% } %>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <div class="star-rating" data-score="<%= review.get('rating') %>" ></div>
      <div class="review-body">
        <%= review.escape('body') %>
      </div>
    </div>
  </div>
</div>
