<!DOCTYPE html>
<html>
<head>
  <title>AGRO</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>


  <script type="text/javascript">
    // window.current_user = {
    //   id: <%= (logged_in?) ? return (current_user.id) : return (0) %>
    // }

    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body>

  <%= render "/shared/navbar" %>

  <div class="container">
    <%= render "/shared/errors" %>
    <%= yield %>
  </div>

</body>
</html>
