<!DOCTYPE html>
<html>
<head>
  <title>AGRO</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.current_user = {
      id: <%= current_user.id %>
    }
  </script>
</head>
<body>

  <%= render "/shared/navbar" %>

  <div class="container">
    <%= render "/shared/errors" %>
    <%= yield %>
  </div>

</body>
</html>
